body {
  background: white;
  background-image: url("background.jpg");
  color: black;
}

.head {
  font-style: bold;
}

div {
  align-self: center;
  margin: auto;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 5vw;
}

p {
  text-align: center;
  font-size: 2.5vw;
}
.button {
  background-color: black;
  border: none;
  color: white;
  float: center;
  margin: auto;
  padding: 12px 28px;
  text-align: center;
  border-radius: 4px;
  font-size: 2rem;
  cursor: pointer;
  align-self: center;
  size: 2em;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: grey;
  color: white;
}

.buttonHolder {
  text-align: center;
}
